@import helper._
@()(implicit request: RequestHeader)

@import helper._

@import views.html.helper.CSRF

@main("Welcome to Play") {


<body onload="myFunction()">



 <script type='text/javascript' src='@routes.Assets.at("javascripts/fileupinfo.js")'></script>
  <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
   <script type='text/javascript' src='@routes.Assets.at("javascripts/createdfiles.js")'></script>

  <ul id="musicid"></ul>

   <ul id="createdfiles" style="float: right;"></ul>


<form method="post" autocomplete="on" enctype="multipart/form-data">
 @CSRF.formField
      
      <input id="myFile" type="file" name="fileUpload" multiple onchange="myFunction()">
       <button>Add Audio</button>
      
    </form>
  
<p id="demo"></p>



}

 