@import helper._
@()(implicit request: RequestHeader)

@import helper._

@import views.html.helper.CSRF

@main("Welcome to Play") {

<body> <!--  onload="myFunction()"> -->


  <script type='text/javascript' src='@routes.Assets.at("javascripts/fileupinfo.js")'></script>
  <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
  <script type='text/javascript' src='@routes.Assets.at("javascripts/createdfiles.js")'></script>
  <script type='text/javascript' src='http://rubaxa.github.io/Sortable/Sortable.js'></script>
   <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/main.css")'>
   <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  


   <div class="hidethis header-cont " id="thishdr">
    <div><p>File generation has started ...</p></div>
    </div>





<h1 style="font-family: 'Fjalla One', sans-serif;font-size: 100px; color:#FFF"> slyck. </h1>

<div class="centering">

<div class="tagline">
    <img src="@routes.Assets.at("images/Cloud-Music-64.png")"></img> 
    <span class="caption">Upload</span>
</div>

<div class="tagline">
    <img src="@routes.Assets.at("images/Record-Player-64.png")"></img> 
    <span class="caption">Create</span>
</div>

<div class="tagline">
    <img src="@routes.Assets.at("images/Download-Computer-64.png")"></img> 
    <span class="caption">Download</span>
</div>

</div>

<div class="centering">

<form style="padding-top:20px" method="post" autocomplete="on" enctype="multipart/form-data">
 @CSRF.formField
      
      <input id="myFile" type="file" name="fileUpload" multiple> <!-- onchange="myFunction()"> -->
       <button>Add Audio</button>
      
    </form>
  
<p id="demo"></p>

<br></br>

<a class="btn" onclick="myFunction2()">Click me to generate files</a>

</div>




<div class="container centering" style="margin-top: 70px;">


    <div id="advanced" style="margin-left: 30px;">
          

          <div style="width: 40%; float: left; margin-top: 15px; margin-left: 10px">
            <div><div data-force="5" class="layer title title_xl">Files to be created</div></div>
            <div class="block__list-title" style="margin-top:10px">drag here & order</div>
              <ul id="advanced-1"  class="files" style="float:left; width:95%">
               
         
              </ul>
            </div>
          </div>



          <div style="width: 40%; float: left; margin-top: 15px; margin-left: 10px" >
            <div><div data-force="5" class="layer title title_xl">Uploaded Files</div></div>
            <div class="block__list-title" style="margin-top:10px">drag from here</div>
              <ul id="advanced-2" class="files">
                
              </ul>
            </div>
          </div>

     
   

          <div style="clear: both"></div>
    </div>
</div>

       <div class="centering" style="font-family: 'Fjalla One', sans-serif;font-size: 80px; color:#FFF"> CREATED FILES</div>
        <ul style="padding-left:30px" id="advanced-3">
           
         
        </ul>
      </div>



<br></br>
<br></br>







<script type="text/javascript">
var ws = new WebSocket("ws://localhost:9000/socket");

function WebSocketStart()
{
    ws.onmessage = function (evt){ 
        var obj = JSON.parse(evt.data);
        if(obj.hasOwnProperty('filename')){
            console.log('yhhhh');
            $("#advanced-3").append($("<audio controls>").append($("<source src=/assets/crtd/" + obj.filename + " >")));         
        }
    };

    ws.onclose = function(){  
        ws.close();         
    }; 
}

WebSocketStart()


function myFunction2(){

var folder = { 
    music : [] 
};

$( "#advanced-1 > li" ).each(function( index ) {
  if( $( this ).text() != ""){
  folder.music.push( {  "song" :  $( this ).attr( "class" )  });
}
});

  var musicList = JSON.stringify(folder);

  if(folder.music.length != 0){
  ws.send(musicList);
  $("#thishdr").removeClass("hidethis");
  setTimeout(function()   {$("#thishdr").addClass("hidethis")}   ,3000)
  } 

}

</script>

<script>
var el = document.getElementById('advanced-1');
var sortable = new Sortable(el, {
    group:  { name: "advanced", pull: true, put: true },
    sort: true});

var mel = document.getElementById('advanced-2');
var sortable2 = new Sortable(mel, {
    group:  { name: "advanced", pull: 'clone', put: false },
    sort: false});

/*var fel = document.getElementById('advanced-3');
var sortable3 = new Sortable(fel, {
    group:  { name: "advanced", pull: false, put: true },
    sort: false});
*/



</script>


}















 